:root {
    --font: "Inter", sans-serif;
    --brown: #3F2C27;
    --Vanilla: #F1E4D0;
    --Vanilla-70: #F1E4D0B2;
    --Vanilla-60: #F1E4D099;
    --Vanilla-50: #F1E4D080; 
    --brown-70: #3F2C27B2;
    --brown-60: #3F2C2799;
    --brown-50: #3F2C2780;
    --brown-40: #3F2C2766;
    --white-26: #FFFFFF42;
    --black: #000000;
    --white: #F7F5EA;
}

/* Universall */

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--Vanilla);
    color: var(--brown);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font);
    width: 100%;

    overflow-x: hidden;
}

/* Тег a и li*/

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    margin:  0;
}

li{
    list-style-type: none;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}




    
    /* Header */
    
    header{
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    /* nav */ 
    nav{
        display: flex;
        align-items: center;
        padding: 14px 10px;
    }
    
    nav ul {
        display: flex; 
        margin-left: 40px;
        gap: 20px;
    }
    
    nav ul li a{
        color: #3F2C27;
        font-size: 16px;
        font-weight: 600;
    }
    
    nav ul li a:hover{
        border-bottom: 2px solid #3F2C27;
    }
    
    
    
    /* Div Link__header */
    .header__link {
        align-items: center;
        display: flex;
        gap: 20px;
        margin-right: 10px;
    }
    
    .header__link a{
        background: var(--brown);
        color: var(--Vanilla);
        padding: 8px 15px;
        border-radius: 5000px;
        transition: all .3s ease;
    }
    
    .header__link a:hover{
        border: 1px solid var(--brown);
        background: var(--Vanilla);
        color: var(--brown);
    }
    
    .header__link span {
        cursor: pointer;
    }
    
    .burger-menu{
    display: none; 
    }

    /* Catalog Navigation */

.Catalog-controls{
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Catalog-controls ul{
    display: flex;
}

.Catalog-controls ul li a{
    text-transform: none;
}

     /* Catalog Filter */ 

.Catalog-filter{
    gap: 10px;
}


.Catalog-filter li{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--white-26);
    padding: 7px 13px;
    border-radius: 50px;
}

.Catalog-filter li a {
    font-weight: 300;
    font-size: 16px;
    color: var(--brown-60);
}


.Catalog-filter li span {
    cursor: pointer;
}

.Catalog-nav{
    gap: 5px;
}


.Catalog_form{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 325px;
    background: var(--white-26);
    border-radius: 50px;
    height: 40px;
    font-weight: 300;
    font-size: 16px;
}

.nav-burger-menu{
    display: none;
}


.Catalog_form .Catalog_input{
    flex: 1;
    padding: 8px 10px;
    border: none;
    background: none;
    outline: none;
    font-weight: 300;
    font-size: 14px;
}

.Catalog_form svg{
    margin-right: 5px;
    cursor: pointer;
}

    /* Catalog Navigation */ 

.Catalog-nav{
    gap: 5px;
}

.Catalog-nav li .a__living{
    background: var(--white-26);
    color: var(--brown-60);
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    padding: 5px 11px;
    border: 1px solid var(--brown-60);
    border-radius: 50000px;
    
    transition: all .3s ease;
}

.Catalog-nav li .a__living:hover{
    background: var(--brown);
    color: var(--Vanilla);
}

.Catalog-nav li .living__active {
    background: var(--brown);
    color: var(--Vanilla);
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    padding: 5px 11px;
    border-radius: 50000px;
}





    /*  Living Block  Info   */

.living-content-start{
    display: none;
}

.living_block{
    margin-top: 20px;
}


.living__info h3{
    margin-bottom: 20px;

    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--brown-60);
    cursor: pointer;

    transition: all .3s ease;
}

.living__info h3:hover{
    color: var(--brown);
}

.living__inner{
    display: flex;
    gap: 40px;
    align-items: start;
}

 /* Left content */

.living__left img{
    cursor: pointer;
}

    /* Right content */

.living__right{
    align-items: center;
}

.living__right .title_1{
    padding: 5px 12px;
    color: var(--brown-60);
    border: 1px solid var(--brown-60);
    border-radius: 50000px;
}

.living__right .title_2{
    margin-top: 50px;

    color: var(--brown);
    font-weight: 200;
    font-size: 40px;
    line-height: 118%;

    margin-bottom: 30px;
}


.living__right .title_3{
    font-weight: 300;
    font-size: 32px;
    line-height: 118%;

    margin-bottom: 10px;
}

.living__right .title_4{
    align-items: center;
    margin-bottom: 50px;

    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--brown-50);
}

.living__right .title_4 span{
    display: inline-block;
     width: 24px;
     height: 24px;
     line-height: 24px;
     text-align: center;
     border: 2px solid #3F2C27;
     border-radius: 50%;
     font-weight: bold;
     color: #3F2C27;
     margin-right: 5px;
}

.living__right .title_5{
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--brown-50);
}

.living__right .title_6{
    border: 1px solid var(--brown);
    padding: 5px 12px;
    border-radius: 50000px;

    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
}

.living__right .title_7{
    margin-top: 20px;

    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--brown-50);

    margin-bottom: 5px;
}

.living__colors{
    cursor: pointer;
    margin-bottom: 50px;
}

.living__right .link_title_1{
    color: var(--white);


    padding: 15px 165px;

    background: var(--brown);
    border-radius: 50000px;

    transition: all .3s ease;
}

.living__right .link_title_1:hover{
    background: var(--Vanilla);
    color: var(--brown);
    border: 1px solid var(--brown);
}

.living__right .description{
    margin-top: 50px;
}

.living__right .description div{
    border-bottom: 1px solid var(--brown-40);
    margin-bottom: 20px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.living__right .description div p{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.living__right .description div p:last-child{
    cursor: pointer;
}



    /* recommend Block */

.recommend{
    margin-top: 100px;
}

.recommend h2{
    font-weight: 300;
    font-size: 40px;
    line-height: 118%;

    margin-bottom: 20px;
}

.recommend__inner{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.recommend__inner p{
    margin-top: 5px;

    font-weight: 300;
    font-size: 15px;
    line-height: 118%;
    color: var(--brown-70);
    text-transform: uppercase;

    margin-bottom: 5px;
}

.recommend__inner span{
    font-weight: 400;
    font-size: 15px;
    line-height: 118%;
}


    /*  Footer  */

    footer{
        margin-top: 100px;
        background: var(--brown);
        color: var(--Vanilla);
    
        height: 400px;
    }
    
    .footer__logo{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 23px;
    }
    
    
        /* Footer Content */
    
    .footer__nav{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    
    
    .footer__catalog span{
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }
    
    .footer__catalog p{
        margin-top: 5px;
    
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: var(--Vanilla-70);
    }
    
    
        /* Footer Navigation */ 
    
    .footer__navigation p{
        margin-bottom: 10px;
    
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }
    
    .footer__navigation ul li{
        padding-top: 5px;
    }
    
    .footer__navigation ul li a {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: var(--Vanilla-70);
    }
    
    .footer__navigation ul li a:hover {
        text-decoration: underline;
        color: var(--Vanilla);
    }
    
    
        /* Footer Info */
    
    .footer_info_title_1{
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
        width: 580px;
    
        margin-bottom: 10px;
    }
    .footer__info form{
        align-items: center;
    }
    
    .footer__info form input {
        width: 400px;
        outline: none;
        border: none;
        background: none;
        margin-right: 10px;
        color: var(--Vanilla-50);
        border-bottom: 1px solid var(--Vanilla-50);
        background: var(--brown);

        margin-bottom: 20px;
    }
    
    .footer__info form span {
        cursor: pointer;
    }
    
    .footer_info_title_2{
        font-weight: 400;
        font-size: 14px;
        color: var(--Vanilla-50);
    }
    
        /* Footer privacy */
    
    .footer__privacy{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__privacy p{
        margin-top: 56px;
        
        font-weight: 400;
        font-size: 16px;
        color: var(--Vanilla-60);
    }