:root {
    --font: "Inter", sans-serif;
    --brown: #3F2C27;
    --Vanilla: #F1E4D0;
    --Vanilla-70: #F1E4D0B2;
    --Vanilla-60: #F1E4D099;
    --Vanilla-50: #F1E4D080; 
    --brown-70: #3F2C27B2;
    --brown-60: #3F2C2799;
    --brown-50: #3F2C2780;
}

/* Universall */

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--Vanilla);
    color: var(--brown);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font);
    width: 100%;

    overflow-x: hidden;
}

/* Тег a и li*/

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    margin:  0;
}

li{
    list-style-type: none;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}

    /* Main */
main{
    background: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 910px;
    padding-top: 10px;
}

/* Header #F1E4D01A*/

header{
    display: flex;
    background: #F1E4D033;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

/* nav */ 
nav{
    display: flex;
    align-items: center;
    padding: 14px 10px;
}

nav ul {
    display: flex; 
    margin-left: 40px;
    gap: 20px;
}

nav ul li a{
    color: #3F2C27;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover{
    border-bottom: 2px solid #3F2C27;
}



/* Div Link__header */
.header__link {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.header__link a{
    background: var(--brown);
    color: var(--Vanilla);
    padding: 8px 15px;
    border-radius: 5000px;
    transition: all .3s ease;
}

.header__link a:hover{
    background: var(--Vanilla);
    color: var(--brown);
}

.header__link span {
    cursor: pointer;
}

/* Main Footer */

.main__footer{
    margin-top: 600px;
}

.main_inner_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*Inner Block 1*/


.inner_block_1 h1{
    color: var(--Vanilla);
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}

.inner_block_1 a{
    background: var(--Vanilla);
    padding: 8px 15px;
    color: var(--brown);
    line-height: 110%;
    border-radius: 5000px;
    transition: all .3s ease;
}

.inner_block_1 a:hover{
    background: var(--brown);
    color: var(--Vanilla);
}

/*Inner Block 2*/

.inner_cart{
    padding: 16px 8px;
    background: var(--brown);
    border-radius: 16px;
}

.inner_cart p {
     cursor: pointer;
}


.inner_block_2 p{
    color: var(--Vanilla);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 120%;
    display: flex;
    gap: 5px;
    margin-top: 5px;

}

/* Category */

.catalog{
    height: 70vh;
}

.catalog_inner{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}

.catalog_card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
  }

.catalog-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--Vanilla);
    font-weight: 300;
    line-height: 120%;
    font-size: 32px;
    text-transform: uppercase;
}

.catalog-text .count {
    font-size: 20px;
    color: var(--Vanilla);
    vertical-align: super;
    line-height: 120%;
    text-transform: uppercase;
  }


    /* About US */

.about_us{
    margin-top: 100px;
    height: 100vh;
}

.about__title {
    font-size: 48px;
    line-height: 120%;
    font-weight: 300;
    text-transform: uppercase;

    margin-bottom: 20px;
}

/*  About Inner / Left and Right  */


.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__text_375{
    display: none;
    font-size: 16px;
    margin-bottom: 6px;

    font-size: 24px;
    font-weight: 300;
    line-height: 118%;
    color: var(--brown-70);
}

.about__text{
   margin-bottom: 100px;
   
   font-size: 24px;
   font-weight: 300;
   line-height: 118%;
   color: var(--brown-70);
}

/*  About Stat's  */

.about__stats{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 100px;
}

.about__stats div{
    gap: 40px;
}

.about__stats span{
    font-size: 64px;
    line-height: 120%;
    font-weight: 200;
    text-transform: uppercase;
}

.about__stats p {
    margin-top: 5px;

    color: var(--brown-60);
    font-weight: 300;
    font-size: 16px;
    line-height: 133%;
}


/*  Advantages  */

.advantages{
    height: 100vh;
}

.advantages__title{
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 30px;
}

.advantages__inner{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--brown-70);
    padding: 20px;
}

.advantages__inner h4{
    font-size: 32px;
    font-weight: 300;
    color: var(--brown);
    line-height: 110%;
}

.advantages__inner p{
    width: 590px;
    font-weight: 400;
    line-height: 110%;
    color:  var(--brown-70);
}

/*  Advantages BTNS     */

.advantages__btns{
    text-align: right;
    margin-top: 30px;
}

.advantages__btns a:first-child {
    font-weight: 500;
    margin-right: 20px;
    background: var(--brown);
    color: var(--Vanilla);
    padding: 8px 15px;
    border-radius: 5000px;
    transition: all .3s ease;
    font-size: 16px;
    line-height: 100%;
}

.advantages__btns a:first-child:hover {
    background: var(--Vanilla);
    color: var(--brown);
    border: solid 1px var(--brown);
  }


.advantages__btns a:last-child {
    font-weight: 500;
    border-bottom: 2px solid var(--brown);
    font-size: 20px;
    line-height: 110%;
    color: var(--brown);
    transition: all .3s ease;
}

.advantages__btns a:last-child:hover {
    color: var(--brown-70);
}


    /*  Contact BLOCK   */

.contact{
    margin-bottom: 150px;

    height: 760px;
    background: url(../img/contact__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 80px;
    padding-left: 80px;
}

.contact__inner{
    width: 595px;
    height: 560px;
    background: var(--Vanilla);
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

  .contact-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
  }

    input, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--brown-50);
    background: transparent;
    padding: 8px 0;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: var(--brown-50);
  }

  textarea {
    resize: none;
    height: 60px;
  }

  /* Contact Content   */

.contact__content h3{
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 120%;
}

.contact_title_1{
    width: 525px;
    margin-bottom: 10px;
    line-height: 120%;
    font-weight: 400;
    font-size: 16px;
    color: var(--brown-50);
}

.contact_title_2 {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 400;
    color: var(--brown-50);
    line-height: 120%;
}

.contact__content form h4{
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.contacts{
    display: flex;
    gap: 40px;
    margin-bottom: 26px;
}

.contacts a{
    text-transform: none;
    color: var(--brown);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}

.contacts a:hover{

    border-bottom: 1px solid var(--brown-70);
}


.contact__link{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.contact__link a{
    padding: 10px 220px;
    background: var(--brown);
    color: var(--Vanilla);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;

    border-radius: 10px;
    transition: all .3s ease;
}

.contact__link a:hover{
    background: var(--Vanilla);
    border: 1px solid var(--brown);
    color: var(--brown);
}

.contact__policy{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 92%;
    color: var(--brown-50);
}


    /*  Questions BLOCK     */


.Questions{
    height: 100vh;
    margin-bottom: 100px;
}

.Questions h1{
    font-weight: 300;
    font-size: 48px;
    line-height: 110%;

    margin-bottom: 30px;
}

.Questions__inner div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--brown-50);

    padding-bottom: 21px;
    margin-bottom: 20px;
}

.Questions__inner div p:first-child{
    font-weight: 400;
    font-size: 24px;
}

.Questions__inner div p:last-child{
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}


    /* Show Case Block */

.case{
    height: 100vh;
}

    /* Case Info  */

.case__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.case__info h2{
    font-weight: 300;
    font-size: 48px;
    line-height: 110%;
}

.case__info div a:first-child {
    font-weight: 500;
    margin-right: 20px;
    background: var(--brown);
    color: var(--Vanilla);
    padding: 8px 15px;
    border-radius: 5000px;
    transition: all .3s ease;
    font-size: 16px;
    line-height: 100%;
}

.case__info div a:first-child:hover {
    background: var(--Vanilla);
    color: var(--brown);
    border: solid 1px var(--brown);
  }


  .case__info div a:last-child {
    font-weight: 500;
    border-bottom: 2px solid var(--brown);
    font-size: 20px;
    line-height: 110%;
    color: var(--brown);
    transition: all .3s ease;
}

.case__info div a:last-child:hover {
    color: var(--brown-70);
}


    /* Case Pictures */

.case__pictures{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.case__pictures p{
    margin-top: 10px;

    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
}



    /*  Footer  */

footer{
    margin-top: 360px;

    background: var(--brown);
    color: var(--Vanilla);

    height: 400px;
}

.footer__logo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 23px;
}


    /* Footer Content */

.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.footer__catalog span{
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
}

.footer__catalog p{
    margin-top: 5px;

    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: var(--Vanilla-70);
}


    /* Footer Navigation */ 

.footer__navigation p{
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
}

.footer__navigation ul li{
    padding-top: 5px;
}

.footer__navigation ul li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: var(--Vanilla-70);
}

.footer__navigation ul li a:hover {
    text-decoration: underline;
    color: var(--Vanilla);
}


    /* Footer Info */

.footer_info_title_1{
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    width: 580px;

    margin-bottom: 10px;
}
.footer__info form{
    align-items: center;
}

.footer__info form input {
    width: 400px;
    margin-right: 10px;
    color: var(--Vanilla-50);
    border-bottom: 1px solid var(--Vanilla-50);
}

.footer__info form span {
    cursor: pointer;
}

.footer_info_title_2{
    font-weight: 400;
    font-size: 14px;
    color: var(--Vanilla-50);
}

    /* Footer privacy */

.footer__privacy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__privacy p{
    margin-top: 56px;
    
    font-weight: 400;
    font-size: 16px;
    color: var(--Vanilla-60);
}