:root {
    --font: "Inter", sans-serif;
    --brown: #3F2C27;
    --Vanilla: #F1E4D0;
    --Vanilla-70: #F1E4D0B2;
    --Vanilla-60: #F1E4D099;
    --Vanilla-50: #F1E4D080; 
    --brown-70: #3F2C27B2;
    --brown-60: #3F2C2799;
    --brown-50: #3F2C2780;
    --brown-40: #3F2C2766;
    --dark-brown-70: #FBF3EAB2;
    --white-26: #FFFFFF42;
    --black: #000000;
    --white: #F7F5EA;
}

/* Universall */

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--Vanilla);
    color: var(--brown);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font);
    width: 100%;
    overflow-x: hidden;
}

/* Тег a и li*/

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    margin:  0;
}

li{
    list-style-type: none;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}




    
    /* Header */
    
    header{
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    /* nav */ 
    nav{
        display: flex;
        align-items: center;
        padding: 14px 10px;
    }
    
    nav ul {
        display: flex; 
        margin-left: 40px;
        gap: 20px;
    }
    
    nav ul li a{
        color: #3F2C27;
        font-size: 16px;
        font-weight: 600;
    }
    
    nav ul li a:hover{
        border-bottom: 2px solid #3F2C27;
    }
    
    
    
    /* Div Link__header */
    .header__link {
        align-items: center;
        display: flex;
        gap: 20px;
        margin-right: 10px;
    }
    
    .header__link a{
        background: var(--brown);
        color: var(--Vanilla);
        padding: 8px 15px;
        border-radius: 5000px;
        transition: all .3s ease;
    }
    
    .header__link a:hover{
        border: 1px solid var(--brown);
        background: var(--Vanilla);
        color: var(--brown);
    }
    
    .header__link span {
        cursor: pointer;
    }

.burger-menu{
    display: none;
}


    /* Cart Blokc */

.add_to_cart{
    margin-top: 30px;
}

.add_to_cart h2{
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;

    margin-bottom: 35px;
}

.cart__content__inner{
    display: flex;
    gap: 10px;
}

.cart__left .cart__content{
    margin-bottom: 20px;
    border-radius: 20px;
    background: var(--dark-brown-70);
    width: 605px;
    height: 250px;
    padding: 30px 30px;
}

.cart__left .cart_block .cart__content{
    display: flex;
    gap: 20px;
}

.cart__inner{
    width: 100%;
}

.cart__inner .block_1{
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}


.cart__inner .block_1 p{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.cart__inner .block_1 p:last-child{
    cursor: pointer;
}

.cart__inner .cart_title_1{
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: var(--brown-70);

    margin-bottom: 10px;
}

.cart__inner .block_2{
    display: flex;
    gap: 10px;
}

.cart__inner .block_2 p{
    border: 1px solid var(--brown);
    border-radius: 50000px;

    padding: 5px 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;

    margin-bottom: 55px;
}

.cart__inner .cart_title_2{
    text-align: right;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}


 /* Order Details */ 

.order_details {
    align-items: center;
}


.order_details h4{
    font-size: 32px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 20px;
}

 .check_info{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 13px;
    margin-bottom: 20px;
 }

.check_info div{
    gap: 10px;
    display: flex;
    align-items: center;
}

.check_info div p{
    font-weight: 300;
    font-size: 16px;
    color: var(--brown-70);
}

.check_info div p:first-child{
    cursor: pointer;
}

.check_info div .check_active{
    font-weight: 300;
    font-size: 16px;
    color: var(--brown);

}

    /* Cart Form Block */

.cart__form__block h4{
    font-size: 32px;
    font-weight: 300;
    line-height: 120%;

    margin-bottom: 5px;
}

.cart__form__block p{
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--brown-70);

    margin-bottom: 20px;
}

.cart__form{
    display: flex;
    flex-wrap: wrap;
}


.cart__form__block .cart__form div input::placeholder{
    font-size: 16px;
    font-weight: 300;
    color: var(--brown-50);
    line-height: 120%;
}

.form_1 {
    gap: 10px;
    margin-bottom: 10px;
}

.form_1 input{
    background: var(--dark-brown-70);
    width: 300px;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 300;
    color: var(--brown-70);
    border: 2px solid var(--dark-brown-70);
    border-radius: 200000px;
    outline: none;
    transition: all 0.3s ease;
}

.cart__form div input:focus{
    border-color: var(--brown-50);
    box-shadow: 0 0 8px var(--brown-40);
}

.form_2 {
    margin-bottom: 10px;
}

.form_2 input{
    background: var(--dark-brown-70);
    width: 195px;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 300;
    color: var(--brown-70);
    border: 2px solid var(--dark-brown-70);
    border-radius: 200000px;
    outline: none;
    transition: all 0.3s ease;
}


.form_3 textarea{
    width: 605px;
    height: 80px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--dark-brown-70);
    background: var(--dark-brown-70);
    outline: none;
    resize: none;   
    
    font-size: 16px;
    font-weight: 300;
    color: var(--brown-70);
}


.form_3 textarea::placeholder{
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--brown-50);

}

.form_4 {
    gap: 10px;
    margin-top: 10px;
}

.form_4 input{
    background: var(--dark-brown-70);
    width: 300px;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 300;
    color: var(--brown-70);
    border: 2px solid var(--dark-brown-70);
    border-radius: 200000px;
    outline: none;
    transition: all 0.3s ease;
}



         /* Result Итого    */

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.result p{
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
}

.result a{
    color: var(--Vanilla);
    background: var(--brown);
    padding: 10px 20px;
    border-radius: 5000px;
    
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;

    transition: all .3s ease;
}

.result a:hover{
    border: 1px solid var(--brown);
    background: var(--Vanilla);
    color: var(--brown);
}


    /*  Footer  */

    footer{
        margin-top: 100px;
        background: var(--brown);
        color: var(--Vanilla);
    
        height: 400px;
    }
    
    .footer__logo{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 23px;
    }
    
    
        /* Footer Content */
    
    .footer__nav{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    
    
    .footer__catalog span{
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }
    
    .footer__catalog p{
        margin-top: 5px;
    
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: var(--Vanilla-70);
    }
    
    
        /* Footer Navigation */ 
    
    .footer__navigation p{
        margin-bottom: 10px;
    
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }
    
    .footer__navigation ul li{
        padding-top: 5px;
    }
    
    .footer__navigation ul li a {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: var(--Vanilla-70);
    }
    
    .footer__navigation ul li a:hover {
        text-decoration: underline;
        color: var(--Vanilla);
    }
    
    
        /* Footer Info */
    
    .footer_info_title_1{
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
        width: 580px;
    
        margin-bottom: 10px;
    }
    .footer__info form{
        align-items: center;
    }
    
    .footer__info form input {
        width: 400px;
        outline: none;
        border: none;
        background: none;
        margin-right: 10px;
        color: var(--Vanilla-50);
        border-bottom: 1px solid var(--Vanilla-50);
        background: var(--brown);

        margin-bottom: 20px;
    }
    
    .footer__info form span {
        cursor: pointer;
    }
    
    .footer_info_title_2{
        font-weight: 400;
        font-size: 14px;
        color: var(--Vanilla-50);
    }
    
        /* Footer privacy */
    
    .footer__privacy{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__privacy p{
        margin-top: 56px;
        
        font-weight: 400;
        font-size: 16px;
        color: var(--Vanilla-60);
    }