 /* Адаптивност */

 @media (max-width: 675px) {

    body{
        overflow-x: hidden;
        width: 100%;
    }

    .container {
        margin: 0 10px;
      }
      



    /*  Main     */

    main{
        background: url(../img/main_bg_375.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 435px;
        padding: 5px 5px;
    }

    .main_content{
        margin-left: 0;
        margin-right: 0;
    }

        /* Header */

    .svg__logo{
        width: 91px;
    }

    /* Navigation */

    nav{
        padding: 5px 5px;
    }

    nav ul{
        display: none;
    }


    /* Header Link */

    .header__link{
    gap: 0px;
    margin-right: 5px;
    }

    .header__link a{
        margin-right: 11.5px;
        font-weight: 400;
        font-size: 10.35px;
        padding: 4px 8px;
    }

    .svg_heart{
    width: 17px;
    margin-right: 7px;
    }

    .svg_Cart{
    width: 17px;
    }

    /* Main Footer */

    .main__footer{
    margin-top: 270px;
    }


    .inner_block_1 h1{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 5px;
    width: 275px;
    }

.inner_block_1 a{
    font-weight: 400;
    font-size: 10px;
    padding: 1.72px 6.02px;
}

.inner_cart{
    padding: 5.88px 5.88px;
    border-radius: 5px;
}

.inner_cart p{
    font-size: 9.41px;
    font-weight: 400;
}
.inner_cart img{
    width: 68px;
    height: 68px;
}

.main_footer_click{
    width: 11px;
    height: 11px;
}

    /* Catalog */

.catalog{
    height: 250px;
}

.catalog_inner{
    gap: 10px;
    flex-wrap: nowrap;
}

.catalog_card img{
    width: 175px;
    height: 222px;
}

.Ottomans{
    display: none;
}

.Chairs{
    display: none;
}

.catalog-text{
    font-size: 18px;
}

.catalog-text .count{
    font-size: 11px;
}

    /* About US */

.about_us{
    margin-top: 30px;
    height: 250px;
}

.about__title {
    font-size: 24px;
    margin-bottom: 10px;
}

/*  About Inner / Left and Right  */

.about__inner{
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.about__text_375{
    width: 100%;
    max-width: 350px;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}

.about__text{
    display: none;
}

/*  About Stat's  */

.about__right img{
    width: 151px;
    height: 102px;
}

.about__stats{
    gap: 10px;
}

.about__stats div{
    margin-top: 62px;
    gap: 10px;
}

.about__stats span{
    font-size: 20px;
}

.about__stats p{
    font-size: 10px;
}


/* Advantages */

.advantages{
    height: 450px;
}

.advantages__title{
    font-size: 24px;
    margin-bottom: 5px;
}


.advantages__inner{
    width: 335px;
    justify-content: center;
    gap: 35px;

}

.advantages__inner h4{
    font-size: 12px;
}

.advantages__inner p{
    width: 281px;
    font-size: 10px;
    color: var(--brown-60);
}

    /*  Advantages BTNS     */

.advantages__btns{
    margin-top: 13px;
}

.advantages__btns a:first-child {
    font-size: 10px;
    padding: 3px 6px;
    margin-right: 10px;
}

.advantages__btns a:last-child {
    font-size: 10px;
}


    /*  Contact BLOCK   */

.contact{
   margin-bottom: 30px;

    width: 100%;
    height: 360px;
    padding-top: 0px;
    padding-left: 0px;
    padding-top: 35px;
}


.contact__inner{
    width: 310px;
    height: 310px;
    margin-left: 32px;
    border-radius: 8.74px;
    padding: 6px 9px;
}

.contact__content h3{
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 20px;
}

.contact_title_1{
    margin-bottom: 5px;

    width: 297px;
    line-height: 111%;
    font-size: 8px;
}

.contact_title_2{
    font-size: 8px;
    margin-bottom: 4px;
}

input, textarea {
    width: 289px;
    margin-bottom: 4px;

    font-size: 9px;
}


textarea{
    height: 46px;
}

.contact__content form h4{
    font-size: 9px;

    color: var(--brown-60);
    margin-top: 2px;
    margin-bottom: 1px;
}

.contacts{
    gap: 10px;
    margin-bottom: 5px;
}

.contacts a{
    font-size: 8.74px;
}

.contact__link{
    margin-bottom: 8px;
}

.contact__link a{
    font-size: 10px;
    padding: 5px 115px;
}

.contact__policy{
    font-size: 6px;

}

    /*  Questions BLOCK     */

.Questions{
    height: 250px;
}

.Questions__inner div{
    padding-bottom: 6px;
}
.Questions h1{
    width: 355px;
    font-size: 20px;
    margin-bottom: 15px;
}

.Questions__inner div p:first-child{
    font-size: 10px;
}

.Questions__inner div p:last-child{
    font-size: 10px;
}

    /* Show Case Block */


.case{
    margin-top: 40px;
    height: 50px;
}


.case__info{
   gap: 10px;
}

.case__info h2{
    font-size: 21px;
}

.case__info div a:first-child{
    margin-right: 10px;

    font-size: 9px;
    padding: 3px 6px;
}

.case__info div a:last-child{
    font-size: 8px;
}

    /* Case Pictures */

.case__pictures{
    margin-top: 20px;
    gap: 3px;
}

.pictures_left{
    background: url(../img/showcase_img/pictures_left_375.png);
    width: 86px;
    height: 90px;
    background-size: cover;
}

.pictures_center{
    width: 176px;
    height: 217px;
    background-size: cover;
    background: url(../img/showcase_img/pictures_center_375.png);
}

.pictures_right{
    width: 86px;
    height: 90px;
    background-size: cover;
    background: url(../img/showcase_img/pictures_right_375.png);
}

.case__pictures p{
    margin-top: 3px;

    font-size: 10px;
}


    /* Footer */

footer{
    height: 300px;
    margin-top: 300px;
}



.footer_svg{
    padding-top: 5px;
    padding-bottom: 0px;
}

    /* Footer Content */

.footer__catalog span{
    font-size: 10px;
}

.footer__catalog p{
    font-size: 6px;
    padding-top: 8px;
}

    /* Footer Navigation */ 

.footer__navigation p{
    font-size: 10px;
}

.footer__navigation ul li{
    padding-top: 0;
}

.footer__navigation ul li a {
    font-size: 6px;
}

.footer_info_title_1{
    font-size: 10px;
    width: 160px;

    margin-bottom: 2px;
}

.footer__info form input{
    width: 100px;
}

.footer__info form span svg {
    width: 11px;
    height: 11px;
}

.footer_info_title_2{
    font-size: 5px;
}

    /* Footer privacy */

.footer__privacy{
    margin-top: 3px;
}

.footer__privacy p{
    font-size: 8px;
}


 }