@media (max-width: 675px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }

    .container {
        margin: 0 10px;
      }
        /* Header */

        .svg__logo{
            width: 91px;
        }
    
        /* Navigation */
    
        nav{
            padding: 5px 5px;
        }
    
        nav ul{
            display: none;
        }
    
    
        /* Header Link */
    
        .header__link{
        gap: 0px;
        margin-right: 5px;
        }
    
        .header__link a{
            margin-right: 11.5px;
            font-weight: 400;
            font-size: 10.35px;
            padding: 4px 8px;
        }
    
        .svg_heart{
        width: 17px;
        margin-right: 7px;
        }
    
        .svg_Cart{
        width: 17px;
        }

        .burger-menu{
            display: block; 
            margin-left: 10px;
        }      

.favorites h2{
    font-size: 24px;
    margin-top: 10px;
}

.favorites__list{
    gap: 0px;
}


.fav__cart{
    width: 355px;
    height: 165px;
    padding: 15px 15px;

}

.fav__cart img{
    gap: 10px;
    width: 111px;
    height: 124px;
}

.cart-content .item-1{
    justify-content: normal;
}

.item-1 p{
    margin-right: 20px;
    font-size: 20px;
}
.item-1 p svg{
    width: 10px;
    height: 10px;
}

.cart-content .cart-text{
    font-size: 12px;
    margin-bottom: 5px;
}

.item-2 p{
    padding: 2px 7px;

    margin-bottom: 25px;
}

.item-2 span svg {
    width: 17px;
    height: 20px;
}

.cart-content .cart-total {
    text-align: left;
    margin-left: 80px;

    font-size: 24px;
}

.add-fav{
    padding: 5px 15px;

    font-size: 16px;
}
    /* Footer */

    footer{    
        height: 300px;
        margin-top: 100px;
    }
    
    
    
    .footer_svg{
        padding-top: 5px;
        padding-bottom: 0px;
    }
    
        /* Footer Content */
    
    .footer__catalog span{
        font-size: 10px;
    }
    
    .footer__catalog p{
        font-size: 6px;
        padding-top: 8px;
    }
    
        /* Footer Navigation */ 
    
    .footer__navigation p{
        font-size: 10px;
    }
    
    .footer__navigation ul li{
        padding-top: 0;
    }
    
    .footer__navigation ul li a {
        font-size: 6px;
    }
    
    .footer_info_title_1{
        font-size: 10px;
        width: 160px;
    
        margin-bottom: 2px;
    }
    
    .footer__info form input{
        width: 100px;
    }
    
    .footer__info form span svg {
        width: 11px;
        height: 11px;
    }
    
    .footer_info_title_2{
        font-size: 5px;
    }
    
        /* Footer privacy */
    
    .footer__privacy{
        margin-top: 3px;
    }
    
    .footer__privacy p{
        font-size: 8px;
    }
}