:root {
    --font: "Inter", sans-serif;
    --brown: #3F2C27;
    --Vanilla: #F1E4D0;
    --Vanilla-70: #F1E4D0B2;
    --Vanilla-60: #F1E4D099;
    --Vanilla-50: #F1E4D080; 
    --brown-70: #3F2C27B2;
    --brown-60: #3F2C2799;
    --brown-50: #3F2C2780;
    --brown-40: #3F2C2766;
    --dark-brown-70: #FBF3EAB2;
    --white-26: #FFFFFF42;
    --black: #000000;
    --white: #F7F5EA;
}

/* Universall */

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--Vanilla);
    color: var(--brown);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font);
    width: 100%;
    overflow-x: hidden;
}

/* Тег a и li*/

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    margin:  0;
}

li{
    list-style-type: none;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}




    
    /* Header */
    
    header{
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    /* nav */ 
    nav{
        display: flex;
        align-items: center;
        padding: 14px 10px;
    }
    
    nav ul {
        display: flex; 
        margin-left: 40px;
        gap: 20px;
    }
    
     nav ul li a{
        color: #3F2C27;
        font-size: 16px;
        font-weight: 600;
    }
    
    nav ul li a:hover{
        border-bottom: 2px solid #3F2C27;
    }
    
    
    
    /* Div Link__header */
    .header__link {
        align-items: center;
        display: flex;
        gap: 20px;
        margin-right: 10px;
    }
    
    .header__link a{
        background: var(--brown);
        color: var(--Vanilla);
        padding: 8px 15px;
        border-radius: 5000px;
        transition: all .3s ease;
    }
    
    .header__link a:hover{
        border: 1px solid var(--brown);
        background: var(--Vanilla);
        color: var(--brown);
    }
    
    .header__link span {
        cursor: pointer;
    }

    .burger-menu{
        display: none;
    }

    /* Contact Block */

.Contacts{
    margin-top: 50px;

    margin-bottom: 100px;
}

.title-contacts {
    font-weight: 200;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
}

.contacts-title-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 45px;
}


.contacts-title-inner{
    margin-top: 20px;
}

.item-1 div:first-child{
    margin-bottom: 40px;
}

.item-1 div:first-child h6{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;

    margin-bottom: 5px;
}

.item-1 div:first-child p{
    color: var(--brown-70);
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
}

.item-1 div:last-child h6{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
}

.item-1 div:last-child p{
    margin-top: 5px;

    color: var(--brown-70);
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
} 


.item-2 p{
    color: var(--brown-70);
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;

    margin-bottom: 32px;
}

.item-2 div h3{
    font-weight: 200;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
}

.contacts-footer-inner{
    display: flex;
    gap: 340px;
    flex-direction: row-reverse;    
}

.contacts-footer-btns{
    margin-top: 375px;
    
}

.contacts-footer-btns a:first-child{
    background: var(--brown);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-right: 20px;
    border-radius: 50000px;

    color: var(--Vanilla);
    transition: all .3s ease;
}

.contacts-footer-btns a:first-child:hover{
    border:  1px solid var(--brown);
    background: var(--Vanilla);
    color: var(--brown);
}

.contacts-footer-btns a:last-child{
    color: #3F2C27;
    border-bottom: 2px solid var(--brown);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;

    transition: all .3s ease;
}

.contacts-footer-btns a:last-child:hover{
    color: var(--brown-70);
}


    /*  Contact BLOCK   */

    .contact{
        margin-bottom: 40px;
    
        height: 760px;
        background: url(../../img/contact__bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding-top: 80px;
        padding-left: 80px;
    }
    
    .contact__inner{
        width: 595px;
        height: 560px;
        background: var(--Vanilla);
        border-radius: 20px;
        padding: 20px 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    
      .contact-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 20px;
      }
    
        input, textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--brown-50);
        background: transparent;
        padding: 8px 0;
        margin-bottom: 20px;
        font-size: 14px;
        outline: none;
    
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        color: var(--brown-50);
      }
    
      textarea {
        resize: none;
        height: 60px;
      }
    
      /* Contact Content   */
    
    .contact__content h3{
        margin-bottom: 20px;
    
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 120%;
    }
    
    .contact_title_1{
        width: 525px;
        margin-bottom: 10px;
        line-height: 120%;
        font-weight: 400;
        font-size: 16px;
        color: var(--brown-50);
    }
    
    .contact_title_2 {
        margin-bottom: 10px;
    
        font-size: 14px;
        font-weight: 400;
        color: var(--brown-50);
        line-height: 120%;
    }
    
    .contact__content form h4{
        margin-top: 10px;
        margin-bottom: 10px;
    
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
    }
    
    .contacts{
        display: flex;
        gap: 40px;
        margin-bottom: 26px;
    }
    
    .contacts a{
        text-transform: none;
        color: var(--brown);
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }
    
    .contacts a:hover{
    
        border-bottom: 1px solid var(--brown-70);
    }
    
    
    .contact__link{
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .contact__link a{
        padding: 10px 220px;
        background: var(--brown);
        color: var(--Vanilla);
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
    
        border-radius: 10px;
        transition: all .3s ease;
    }
    
    .contact__link a:hover{
        background: var(--Vanilla);
        border: 1px solid var(--brown);
        color: var(--brown);
    }
    
    .contact__policy{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 92%;
        color: var(--brown-50);
    }
    
/*  Footer  */

    footer{
        background: var(--brown);
        color: var(--Vanilla);
    
        height: 400px;
    }
    
    .footer__logo{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 23px;
    }
    
    
        /* Footer Content */
    
    .footer__nav{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    
    
    .footer__catalog span{
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }
    
    .footer__catalog p{
        margin-top: 5px;
    
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: var(--Vanilla-70);
    }
    
    
        /* Footer Navigation */ 
    
    .footer__navigation p{
        margin-bottom: 10px;
    
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
    }
    
    .footer__navigation ul li{
        padding-top: 5px;
    }
    
    .footer__navigation ul li a {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: var(--Vanilla-70);
    }
    
    .footer__navigation ul li a:hover {
        text-decoration: underline;
        color: var(--Vanilla);
    }
    
    
        /* Footer Info */
    
    .footer_info_title_1{
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
        width: 580px;
    
        margin-bottom: 10px;
    }
    .footer__info form{
        align-items: center;
    }
    
    .footer__info form input {
        width: 400px;
        outline: none;
        border: none;
        background: none;
        margin-right: 10px;
        color: var(--Vanilla-50);
        border-bottom: 1px solid var(--Vanilla-50);
        background: var(--brown);

        margin-bottom: 20px;
    }
    
    .footer__info form span {
        cursor: pointer;
    }
    
    .footer_info_title_2{
        font-weight: 400;
        font-size: 14px;
        color: var(--Vanilla-50);
    }
    
        /* Footer privacy */
    
    .footer__privacy{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__privacy p{
        margin-top: 56px;
        
        font-weight: 400;
        font-size: 16px;
        color: var(--Vanilla-60);
    }